:root {
    --fontSize: 1.4rem;
    --titleSize: 2.2rem;
}

* {
    font-family: "Mukta Vaani";
}

body {
    margin: 0;
    padding: 0;
    background: #1A1A1D;
}


.navBar {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    border-radius: 15px;
    height: 100px;
}

.navBar>div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fontSize);
    padding-left: 15px;
    padding-right: 25px;
    margin: 0px;
    color: #A6AEBF;
}

@media (max-width: 399px) {
    .navBar>div {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        padding-left: 15px;
        padding-right: 10px;
        margin: 0px;
        color: #A6AEBF;
    }
}



.navItem a {
    color: inherit;
    text-decoration: none;

}

.about-me-items-border:hover {
    text-decoration: none;
}

.formText {
    padding-left: 10px !important;
}



.form-control {
    width: 100%;
    background-color: #202023;
    border-radius: 5px;
    height: 45px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    border: 2px solid #7b7f88;
    min-height: 45px;
}

.form-control:focus {
    background-color: inherit;
    color: inherit;
    box-shadow: none;
    border-color: inherit;
}

.contact-font-size {
    font-size: 1.25rem;
}

.navItem a:hover {
    color: #F4EEE0;

    text-decoration: none;

    cursor: pointer;

}


.dark-light {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: var(--fontSize);
    padding-right: 15px;
}

.about-me-name {
    font-size: 4.1rem;
    color: #F4EEE0;
}

.about-me-desc {
    font-size: 1.9rem;
    font-weight: 100;
    color: #F4EEE0;
}

.about-me-img-text {
    font-size: var(--fontSize);
}

.profile-pic {
    width: 320px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}

.about-me-img-text {
    color: #F4EEE0;
    font-weight: 200;
    margin-top: 25px;
}

.about-me-items-border {
    border: solid #A6AEBF 1.5px;
    padding: 8px;
    border-radius: 5px;
    margin-right: 15px;
}

.about-me-links-imgs-resume {
    width: 32px;
    height: 32px;
    margin-left: 10px;
    margin-top: -5px;
}

.about-me-links-imgs {
    width: 36px;
    height: 36px;
    margin-left: 15px;
}

.projects-title {

    text-align: center;
    display: flex;
    justify-content: center;
    padding: 0;
    color: #F4EEE0;
    font-weight: bold;
    font-size: 1.5rem;
    align-items: center;
    /* margin-bottom: 5px; */

}

.cardForDark {
    /* background: #202023; */
    border: 1px solid rgb(82, 82, 82);
    border-radius: 15px;
    color: #F4EEE0;
    max-width: 322px;
    height: 417px;
    margin: 0px;
    padding: 20px;
    display: flex;
    /* Add this */
    flex-direction: column;
    /* Ensure vertical stacking */
    align-items: center;
    /* Horizontally center content */
    justify-content: center;
    /* Vertically center content */
}

.cardForLight {
    background: #e7e0d1;

    border: 1px solid black;
    border-radius: 15px;
    color: #F4EEE0;
    max-width: 322px;
    height: 417px;
    margin: 0px;

    padding: 20px;
    display: flex;
    /* Add this */
    flex-direction: column;
    /* Ensure vertical stacking */
    align-items: center;
    /* Horizontally center content */
    justify-content: center;
    /* Vertically center content */
}

.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: -5px;
}

.skills-usedDark {

    font-size: .75rem;
    text-align: center;
    background-color: #4b4b4b;
    border-radius: 5px;
    padding: 5px;
    margin: 1.5px;
}

.skills-usedLight {

    font-size: .75rem;
    text-align: center;
    background-color: #bbbbbb;
    border-radius: 5px;
    padding: 5px;
    margin: 1.5px;
    color: #202023;
}

.card-img {
    object-fit: container;
    max-height: 150px;
    min-height: 150px;
    width: 274px;
    display: flex;
    justify-content: center;
    justify-self: center;
    padding: 0px;
}

.card-title {
    font-size: 2.6rem;
    align-self: self-start;
    text-align: center;
    padding-bottom: 0px;
    font-weight: 800;
}

.card-text {
    font-size: .85rem;
    padding: 0;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #A6AEBF;
    font-size: 1.2rem;
    padding: 0px;
}

.navBarContainer {
    position: sticky;
    top: 0px;
    z-index: 1;
    background: rgba(26, 26, 29, 0.5);
    backdrop-filter: blur(10px)
}

.contactMeText {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    /* align-items: center;
    text-align: center; */
    font-size: 2.6rem;
}

/* alsjdashdashdlksahdlkashdlkjashdlhaslkdhasdhasldhakshdladkashdlashdlhad */
.switchBackgroundToLightNavBar {
    background: rgba(244, 238, 224, 0.5);
}

.switchBackgroundToDarkNavBar {
    background: rgba(26, 26, 29, 0.5);
}

.switchBackgroundToDark {
    background: #1A1A1D;
}

.switchBackgroundToLight {
    background: #F4EEE0;
}

.switchTextColorForDarkMode {
    color: #F4EEE0;
}

.switchTextColorForLightMode {
    color: black;
}


.formCheckDark {
    width: 100%;
    background-color: #202023;
    border-radius: 5px;
    height: 45px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    border: 2px solid #7b7f88;
    min-height: 45px;
}

.formCheckDark:focus {
    background-color: inherit;
    color: inherit;
    box-shadow: none;
    border-color: inherit;
    outline: none;
}

.formCheckLight {
    width: 100%;
    background-color: #F4EEE0;
    border-radius: 5px;
    height: 45px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    border: 2px solid #7b7f88;
    min-height: 45px;
}

.formCheckLight:focus {
    background-color: inherit;
    color: inherit;
    box-shadow: none;
    border-color: inherit;
    outline: none;
}

.formTextDark {
    color: #F4EEE0;
}

.formTextLight {
    color: #202023;
}

/* akjdhskasjhdlkjashdlkashdlahdslhajdhasljdhsaldhalshdkajshdkljh */
@media screen and (max-width: 480px) {
    .about-me-name {
        font-size: 3.5rem;
    }

    .profile-pic {
        width: 220px;
        height: 220px;
    }

    .about-me-desc {
        font-size: 1.8rem;
    }

    .projects-title {

        text-align: center;
        display: flex;
        justify-content: center;
        padding: 0;
        color: #F4EEE0;
        font-weight: bold;
        font-size: 1.5rem;
        align-items: center;
        /* margin-bottom: 5px; */

    }

    .contactMeText {
        display: flex;
        justify-content: center;
        margin-left: 20px;
        align-items: center;
        text-align: center;
        font-size: 2.6rem;
    }

    .card-img {
        object-fit: container;
        max-height: 150px;
        min-height: 150px;
        width: 274px;
        display: flex;
        justify-content: center;
        justify-self: center;
        padding: 0px;
    }
}

.card-container {
    max-width: 1000px;
}

#moreInfo {
    margin-top: 15px;
    width: 100%;
}

@media (min-width: 992px) {
    .container {
        max-width: 1025px;
    }
}

@media (min-width: 300px) {
    .container {
        max-width: 1025px;
    }
}

.subcategory {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 25px;
    padding: 25px;
    /* border-top: 3px solid rgba(94, 94, 94, 0.411); */
}

.timeline {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.timelineLeftDarkContainer {
    background-color: #7b7f88;
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    padding: 50px;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right, rgb(78, 78, 78), rgb(36, 33, 33)) 1;
    width: 100%;
    height: auto;
    display: flex;


    /* border-radius: 5px; */
}

.timelineLeftDarkContainer::after {
    content: '';
    font-weight: bold;
    text-align: center;
    position: absolute;
    width: 15px;
    height: 15px;
    left: -9px;
    background-image: linear-gradient(45deg, #3a3a3a, #5f5f5f, #4b4b4b);
    /* border: 4px solid #FF9F55; */
    top: 125px;
    display: flex;
    border-radius: 50%;
    z-index: 0;
}


.timelineRightDarkContainer {
    background-color: #7b7f88;
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    padding: 50px;
    color: white;
    border-right: 3px transparent solid;
    border-bottom: 3px transparent solid;
    border-image: linear-gradient(to right, rgb(78, 78, 78), rgb(36, 33, 33)) 1;

    width: 100%;
    height: auto;
    display: flex;
}

.timelineRightDarkContainer::after {
    content: '';
    font-weight: bold;
    text-align: center;
    position: absolute;
    width: 15px;
    height: 15px;
    right: -9px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #3a3a3a, #5f5f5f, #4b4b4b);
    top: 125px;
    border-radius: 50%;
    z-index: 0;
}

/* //qweqweqwe */

.timelineLeftLightContainer {
    background-color: #7b7f88;
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    padding: 50px;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right, rgb(201, 201, 201), rgb(180, 178, 178)) 1;
    width: 100%;
    height: auto;
    display: flex;

    /* border-radius: 5px; */
}

.timelineLeftLightContainer::after {
    content: '';
    font-weight: bold;
    text-align: center;
    position: absolute;
    width: 15px;
    height: 15px;
    left: -9px;
    background-image: linear-gradient(45deg, #d3d2d2, #bdbaba, #968f8f);
    /* border: 4px solid #FF9F55; */
    top: 125px;
    border-radius: 50%;
    z-index: 0;
}


.timelineRightLightContainer {
    background-color: #7b7f88;
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    padding: 50px;
    color: white;
    border-right: 3px transparent solid;
    border-bottom: 3px transparent solid;
    border-image: linear-gradient(to right, rgb(201, 201, 201), rgb(180, 178, 178)) 1;

    width: 100%;
    height: auto;
    display: flex;
}

.timelineRightLightContainer::after {
    content: '';
    font-weight: bold;
    text-align: center;
    position: absolute;
    width: 15px;
    height: 15px;
    right: -9px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #d3d2d2, #bdbaba, #968f8f);
    top: 125px;
    border-radius: 50%;
    z-index: 0;
}

.timelinePic {
    height: 150px;
    width: 150px;
    object-fit: contain;
}

.timelineImageAndDateContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.timelineDate {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

    font-size: 1rem;
}

.timelineDescription {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
}


@media (max-width: 600px) {
    .timelineLeftDarkContainer {
        background-color: #7b7f88;
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        padding: 50px;
        border-left: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-image: linear-gradient(to right, rgb(78, 78, 78), rgb(36, 33, 33)) 1;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        /* border-radius: 5px; */
    }

    .timelineLeftLightContainer {
        background-color: #7b7f88;
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        padding: 50px;
        border-left: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-image: linear-gradient(to right, rgb(201, 201, 201), rgb(180, 178, 178)) 1;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        /* border-radius: 5px; */
    }

    .timelineRightDarkContainer {
        background-color: #7b7f88;
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        padding: 50px;
        color: white;
        border-right: 3px transparent solid;
        border-bottom: 3px transparent solid;
        border-image: linear-gradient(to right, rgb(78, 78, 78), rgb(36, 33, 33)) 1;

        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .timelineRightLightContainer {
        background-color: #7b7f88;
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        padding: 50px;
        color: white;
        border-right: 3px transparent solid;
        border-bottom: 3px transparent solid;
        border-image: linear-gradient(to right, rgb(201, 201, 201), rgb(180, 178, 178)) 1;

        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .timelineLeftDarkContainer::after {
        content: '';
        font-weight: bold;
        text-align: center;
        position: absolute;
        width: 15px;
        height: 15px;
        left: -9px;
        background-image: linear-gradient(45deg, #3a3a3a, #5f5f5f, #4b4b4b);
        /* border: 4px solid #FF9F55; */
        top: 200px;
        display: flex;
        border-radius: 50%;
        z-index: 0;
    }

    .timelineLeftLightContainer::after {
        content: '';
        font-weight: bold;
        text-align: center;
        position: absolute;
        width: 15px;
        height: 15px;
        left: -9px;
        background-image: linear-gradient(45deg, #d3d2d2, #bdbaba, #968f8f);
        /* border: 4px solid #FF9F55; */
        top: 125px;
        border-radius: 50%;
        z-index: 0;
    }

    .timelineRightDarkContainer::after {
        content: '';
        font-weight: bold;
        text-align: center;
        position: absolute;
        width: 15px;
        height: 15px;
        right: -9px;
        border-radius: 50%;
        background-image: linear-gradient(45deg, #3a3a3a, #5f5f5f, #4b4b4b);
        top: 200px;
        border-radius: 50%;
        z-index: 0;
    }

    .timelineRightLightContainer::after {
        content: '';
        font-weight: bold;
        text-align: center;
        position: absolute;
        width: 15px;
        height: 15px;
        right: -9px;
        border-radius: 50%;
        background-image: linear-gradient(45deg, #d3d2d2, #bdbaba, #968f8f);
        top: 125px;
        border-radius: 50%;
        z-index: 0;
    }

    .timelinePic {
        order: 0;
    }

    .timelineDescription {
        order: 1;
    }
}

.resumeButton:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

.containerForAllCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Always 2 columns */
    gap: 12px;
    justify-items: center;
    align-items: center;
    place-self: center;
}

@media (max-width: 1015px) {
    .containerForAllCards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* Always 2 columns */
        gap: 12px;
        justify-items: center;
        align-items: center;
        place-self: center;
    }
}

@media (max-width: 680px) {
    .containerForAllCards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* Always 2 columns */
        gap: 12px;
        justify-items: center;
        align-items: center;
        place-self: center;
    }
}

.contactContainer {
    max-width: 100% !important;
    height: auto;
    min-height: 200px;
    padding-bottom: 20px;
}

@media (max-width: 500px) {
    .contactContainer {
        max-width: 100% !important;
        height: auto;
        min-height: 200px;
        padding-bottom: 20px;
    }
}